h1{
    display: flex;
    justify-content: center;
}

.sorteringsknapper button{
    background-color: #00446E;
    color: #F7F7F7;
    font-size:16px ;
    font-weight:600;
    cursor: pointer;
    width:173px;
    border-radius: 35px;
    padding: 1rem;
    border: none;
}

.sorteringsknapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.Kunstnere-card{
    background-color: var(--bokse);
    border-radius: 8px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Kunstnere-card h3{
    font-size: 23px;
    margin-block: 1rem;
}

.læsmere{
    margin-block: 1rem;
    background-color: #00446E;
    color: #F7F7F7;
    font-size:16px ;
    font-weight:600;
    cursor: pointer;
    border-radius: 35px;
    padding: 1rem;
}

.information{
    margin-top: 1rem;
    padding-right: 8rem;
}

.information p{
    margin-bottom: 0.5rem;
}