.praktiskInfo h1 {
    text-align: center;
    margin: 20px;
    margin-top: 50px;
}

.praktiskInfo {
    margin-inline: 3rem;
    margin-bottom: 3rem;
}

.toiletter {
    margin-inline: 3rem;
    margin-bottom: 3rem;
}

.kontakt {
    margin-inline: 3rem;
    margin-bottom: 3rem;
}