.praktiskInfo h1 {
    text-align: center;
    margin: 20px;
}

.praktiskInfo {
    margin-inline: 3rem;
    margin-bottom: 2rem;
}

.toiletter {
    margin-inline: 3rem;
    margin-bottom: 2rem;
}

.kontakt {
    margin-inline: 3rem;
    margin-bottom: 2rem;
}